<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Inicio</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputText value="Login" />
            <h:inputText value="#{loginController.cliente.email}" />
            
            <h:outputText value="Login" />
            <h:inputSecret value="#{loginController.cliente.senha}" />
            
            <h:commandButton action="#{loginController.logar()}" value="Logar" />
        </h:form>
    </h:body>
</html>

