<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>

        <h:form>
            <h:outputText value="Agência" />
            <h:inputText value="#{clienteController.conta.agencia}" />

            <br/>

            <h:outputText value="Código" />
            <h:inputText value="#{clienteController.conta.codigo}" />

            <br/>

            <h:outputText value="Dígito da Agência" />
            <h:inputText value="#{clienteController.conta.digitoDaAgencia}" />

            <br/>

            <h:outputText value="Dígito da Conta" />
            <h:inputText value="#{clienteController.conta.digitoDaConta}" />

            <br/>

            <h:outputText value="Número" />
            <h:inputText value="#{clienteController.conta.numero}" />

            <br/>

            <h:outputText value="Saldo" />
            <h:inputText value="#{clienteController.conta.saldo}" />

            <br/>

            <h:outputText value="Senha" />
            <h:inputSecret value="#{clienteController.conta.senha}" />

            <br/>

            <h:outputText value="Tipo de conta" />
            <h:selectOneMenu value="#{clienteController.conta.tipo}">
                <f:selectItem itemLabel="POUPANCA" itemValue="POUPANCA" />
                <f:selectItem itemLabel="CORRENTE" itemValue="CORRENTE" />
            </h:selectOneMenu>

            <br/>

            <h:commandButton action="#{clienteController.cadastrarConta()}" value="Cadastrar Conta" />

        </h:form>

    </h:body>
</html>
