<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <h:outputText value="CPF" />
            <h:inputText value="#{clienteController.cliente.CPF}" />

            <br/>

            <h:outputText value="Codigo" />
            <h:inputText value="#{clienteController.cliente.codigo}" />

            <br/>

            <h:outputText value="Date de Nascimento" />
            <h:inputText value="#{clienteController.cliente.dtNasc}">
                <f:convertDateTime pattern="dd/MM/yyyy"/>
            </h:inputText>

            <br/>

            <h:outputText value="Email" />
            <h:inputText value="#{clienteController.cliente.email}" />

            <br/>

            <h:outputText value="Bairro" />
            <h:inputText value="#{clienteController.cliente.endereco.bairro}" />

            <br/>

            <h:outputText value="Cidade" />
            <h:inputText value="#{clienteController.cliente.endereco.cidade}" />

            <br/>

            <h:outputText value="Rua" />
            <h:inputText value="#{clienteController.cliente.endereco.rua}" />

            <br/>

            <h:outputText value="Nome" />
            <h:inputText value="#{clienteController.cliente.nome}" />

            <br/>

            <h:outputText value="RG" />
            <h:inputText value="#{clienteController.cliente.rg}" />

            <br/>

            <h:outputText value="Senha" />
            <h:inputText value="#{clienteController.cliente.senha}" />

            <br/>
<!--
            <h:outputText value="Telefone" />
            <h:inputText value="#{clienteController.telefone.numero}" />-->

            <br/>

            <h:commandButton action="#{clienteController.cadastrarCliente()}" value="Logar" />

        </h:form>
    </h:body>
</html>
